/* a list of product cards */
.product-list {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  margin-top: 30px;
  justify-content: space-around;
}
